/* @import "./colors.css"; */
@import "./tokyonight.css";

* {
  font-family: "JetBrainsMono NF";
  font-size: 12px;
}

window {
  background: @background;
}

#workspaces,
#pulseaudio,
#clock,
#cpu,
#memory,
#network,
#language,
#custom-power {
  padding: 0 8px;
  margin-right: 8px;
}

#workspaces,
#workspaces button {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: transparent;
}

#workspaces button.focused {
  color: @tertiary_container;
  border-bottom: 2px solid @tertiary_container;
}

#pulseaudio {
  color: @primary_container;
  border-bottom: 2px solid @primary_container;
}

#network {
  color: @tertiary;
  border-bottom: 2px solid @tertiary;
}

#cpu {
  color: @secondary_container;
  border-bottom: 2px solid @secondary_container;
}

#memory {
  color: @primary;
  border-bottom: 2px solid @primary;
}

#language {
  color: @secondary;
  border-bottom: 2px solid @secondary;
}

#clock {
  color: @surface_variant;
  border-bottom: 2px solid @surface_variant;
}

#custom-power {
  color: @error;
  border-bottom: 2px solid @error;
}
