@define-color background              #1a1b26;
@define-color on_background           #c0caf5;
@define-color error                   #f7768e;
@define-color tertiary                #73dacb;
@define-color primary                 #9ece6a;
@define-color secondary               #7aa2f7;
@define-color primary_container       #bb9af7;
@define-color secondary_container     #e0af68;
@define-color surface                 #1a1b26;
@define-color surface_variant         #cfc9c2;
@define-color on_surface              #c0caf5;
@define-color outline                 #ff9e64;
